/* From Uiverse.io by ilkhoeri */
.dropdown {
    transition: all 300ms;
    display: flex;
    flex-direction: column;
    min-height: 80px;
    background-color: #fcf2e1;
    overflow: hidden;
    position: relative;
    inset-inline: auto;
    width: 100%;
}

.dropdown:first-child {
    border-radius: 12px 12px 0 0;
}

.dropdown:last-child {
    border-radius: 0 0 12px 12px ;
}

.dropdown input:where(:checked) ~ .list {
    opacity: 1;
    transform: translateY(-3rem) scale(1);
    transition: all 500ms ease;
    margin-top: 32px;
    padding-top: 4px;
    margin-bottom: -32px;
}
.dropdown input:where(:not(:checked)) ~ .list {
    opacity: 0;
    transform: translateY(3rem);
    margin-top: -100%;
    user-select: none;
    height: 0;
    max-height: 0;
    min-height: 0;
    pointer-events: none;
    transition: all 500ms ease-out;
}
.trigger {
    cursor: pointer;
    list-style: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-weight: 600;
    display: flex;
    flex-flow: row;
    gap: 4rem;
    padding: 1rem;
    height: max-content;
    position: relative;
    z-index: 99;
    border-radius: inherit;
    background-color: #fcf2e1;
    text-align: initial;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
.dropdown input:where(:checked) + .trigger {
    margin-bottom: 1rem;
}
.dropdown input:where(:checked) + .trigger:after {
    rotate: 90deg;
    transition-delay: 0ms;
}

.trigger:before,
.trigger::after {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.trigger:after {
    content: "›";
    rotate: -90deg;
    width: 17px;
    height: 17px;
    font-size: 30px;
    color: #1cb0f6;
    border-radius: 2px;
    transition: all 350ms ease;
    transition-delay: 85ms;
}
.list {
    height: 100%;
    max-height: 50rem;
    width: 95%;
    display: grid;
    grid-auto-flow: row;
    overflow: hidden auto;
    gap: 1rem;
    padding: 1rem;
    margin-right: -8px;
    --w-scrollbar: 8px;

}
.listitem {
    height: 100%;
    list-style: none;
}
.article {
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    text-align: justify;
    width: 68%;
    display: flex;
    background-color: #fcf2e1;
    color: #1cb0f6;
    justify-content: space-between;
}

.webkit-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: var(--w-scrollbar);
    border-radius: 9999px;
}
.webkit-scrollbar::-webkit-scrollbar-track {
    background: #fcf2e1;
}
.webkit-scrollbar::-webkit-scrollbar-thumb {
    background: #fcf2e1;
    border-radius: 9999px;
}
.webkit-scrollbar:hover::-webkit-scrollbar-thumb {
    background: #fcf2e1;
}

.title{
    width: 50%;
}

.status{
    width: 25%;
}

@media (max-width: 1220px) {
    .title{
        font-size: 12px;
    }

    .status{
        width: 100%;
        font-size: 12px;
    }

    .dataPrevista{
        display: none;
    }
    .trigger{
        gap: 1rem;
    }
    .statusContainer{
        justify-content: end;
    }
    .article{
        width: 85%;
        & p {
            width: 50%;
        }
    }
}

